<header>
    <h1 class="page-header alert alert-info">HomeDepot Currency Calculator.</h1>
</header>
<div >
    <div class="col-xs-5 col-sm-5 col-md-5 col-md-offset-3">
        <div class="panel panel-default" >
            <div class="panel-body">
                <form action="" method="POST" name="currencycalculator">
                    <legend>Currency Converter</legend>
                    <div class="row form-group">
                        <div>
                            <label for="">Type in amount and select currency</label>
                             <input name= "from" type="number" class="form-control col-md-4" placeholder="Enter value" data-ng-model="fromValue" data-ng-change="forExConvert()" required>
                            <select ng-model="fromType" class="form-control" required data-ng-change="forExConvert()" ng-options="k for (k, v) in rates track by v">
                            </select>
                             <div class="alert-danger" ng-show="currencycalculator.from.$invalid">Invalid Input.Please enter only numbers.</div>       
                            

                        </div>
                    </div>
                    <div class="row form-group">
                        <div >
                            <label for="">Converted Amount</label>
                            <input name="to" type="number" class="form-control" placeholder="Enter value" data-ng-model="toValue" data-ng-change="forExConvert()" >
                            <select ng-model="toType" class="form-control" required data-ng-change="forExConvert()" ng-options="k for (k, v) in rates track by v">
                            </select>
                           
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
